
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    

    /* FONTS */

    --fg-primary-font: 'Montserrat', sans-serif;

    /* BRANDING COLORS */
    --fg-color-1:white;

    --fg-color-2:
    --fg-color-3:
    --fg-color-4:
    --fg-color-5:
    --fg-color-6:

    /* BACKGROUND-COLORS */
    --fg-primary-bg:;
    --fg-secundary-bg:
    --fg-tertiary-bg:;

    /* TEXT-COLORS */
    --fg-primary-text:
    --fg-secundary-text:
    --fg-tertiary-text:
    --fg-spacial-text;
    

    /* BORDER-COLORS */

    --fg-primary-border:2px solid var(var--fg-color-1);
    --fg-secundary-border:2px solid var(var--fg-color-2);
    --fg-tertiary-border:2px solid var(var--fg-color-3);

    /* BORDER RADIUS */
--fg-primary-br:4px;
--fg-secundary-br:2px;

/* SPACINGS */
--fg-margin-xs:10px;
--fg-margin-s:20px;
--fg-margin-m:30px;
--fg-margin-l:40px;
--fg-margin-xl:50px;

--fg-padding-xs:10px;
--fg-padding-s:20px;
--fg-padding-m:30px;
--fg-padding-l:40px;
--fg-padding-xl:50px;

--fg-gap-xs:10px;
--fg-gap-s:20px;
--fg-gap-m:30px;
--fg-gap-l:40px;
--fg-gap-xl:50px;


}
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fg-primary-font);

}

ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
p,label,button,a,h1,h2,h3,h4,h5,h6{
    color:var(--fg-primary-text)
}



